In [5]:
#Import Dependencies

import pandas as pd
import numpy as np

In [8]:
# Save path to data set in a variable
data_file = "Resources/data.csv"

In [9]:
#Read csv file

data_df = pd.read_csv(data_file)
data_df

,CBSA,Core Based Statistical Area,Pollutant,Trend Statistic,Number of Trends Sites,2000,2001,2002,2003,2004,...,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020
0,10100,"Aberdeen, SD",PM10,2nd Max,1,50.000,58.000,59.000,66.000,39.000,...,29.000,62.000,66.000,36.000,43.000,65.000,40.000,49.000,35.000,35.000
1,10100,NaN,PM2.5,Weighted Annual Mean,1,8.600,8.600,7.900,8.400,8.100,...,7.100,7.500,7.300,6.200,6.200,5.400,5.900,6.700,5.900,5.900
2,10100,NaN,PM2.5,98th Percentile,1,23.000,23.000,20.000,21.000,23.000,...,18.000,23.000,22.000,17.000,14.000,14.000,13.000,22.000,18.000,18.000
3,10300,"Adrian, MI",O3,4th Max,1,0.082,0.086,0.089,0.088,0.074,...,0.076,0.087,0.064,0.068,0.065,0.069,0.066,0.071,0.059,0.067
4,10420,"Akron, OH",CO,2nd Max,1,2.400,2.700,1.800,1.900,2.100,...,1.000,1.100,0.800,0.800,1.000,1.100,0.900,1.800,1.800,1.800
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1067,49700,"Yuba City, CA",NO2,Annual Mean,1,13.000,14.000,15.000,14.000,12.000,...,8.000,10.000,10.000,8.000,7.000,7.000,7.000,7.000,6.000,6.000
1068,49700,NaN,NO2,98th Percentile,1,62.000,62.000,62.000,62.000,52.000,...,44.000,46.000,52.000,44.000,39.000,40.000,42.000,41.000,40.000,38.000
1069,49700,NaN,O3,4th Max,2,0.081,0.077,0.090,0.085,0.076,...,0.070,0.073,0.066,0.072,0.068,0.072,0.074,0.073,0.063,0.075
1070,49700,NaN,PM2.5,Weighted Annual Mean,1,10.600,11.900,13.100,9.500,10.000,...,8.000,6.900,8.200,9.400,9.600,8.100,9.300,10.300,8.400,16.400
1071,49700,NaN,PM2.5,98th Percentile,1,38.000,54.000,34.000,29.000,38.000,...,37.000,24.000,25.000,25.000,31.000,22.000,32.000,37.000,27.000,91.000

In [11]:
data_df = data_df.dropna(how='any')
data_df

,CBSA,Core Based Statistical Area,Pollutant,Trend Statistic,Number of Trends Sites,2000,2001,2002,2003,2004,...,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020
0,10100,"Aberdeen, SD",PM10,2nd Max,1,50.000,58.000,59.000,66.000,39.000,...,29.000,62.000,66.000,36.000,43.000,65.000,40.000,49.000,35.000,35.000
3,10300,"Adrian, MI",O3,4th Max,1,0.082,0.086,0.089,0.088,0.074,...,0.076,0.087,0.064,0.068,0.065,0.069,0.066,0.071,0.059,0.067
4,10420,"Akron, OH",CO,2nd Max,1,2.400,2.700,1.800,1.900,2.100,...,1.000,1.100,0.800,0.800,1.000,1.100,0.900,1.800,1.800,1.800
9,10500,"Albany, GA",PM2.5,Weighted Annual Mean,1,16.600,14.600,13.800,13.400,14.100,...,12.100,10.600,10.000,10.300,9.000,8.700,9.400,8.400,9.300,9.100
11,10580,"Albany-Schenectady-Troy, NY",CO,2nd Max,1,1.100,1.200,1.500,1.500,1.100,...,0.900,0.700,0.800,0.700,0.800,0.800,0.800,0.800,0.600,0.600
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1053,49340,"Worcester, MA-CT",O3,4th Max,1,0.076,0.088,0.091,0.080,0.074,...,0.065,0.070,0.070,0.065,0.063,0.066,0.068,0.065,0.060,0.063
1054,49420,"Yakima, WA",PM2.5,Weighted Annual Mean,1,10.500,10.500,10.200,10.200,10.900,...,8.500,9.800,9.500,8.100,9.600,8.600,10.300,10.500,9.200,12.300
1056,49620,"York-Hanover, PA",NO2,Annual Mean,1,18.000,20.000,17.000,17.000,16.000,...,13.000,12.000,10.000,11.000,10.000,10.000,8.000,6.000,7.000,7.000
1062,49660,"Youngstown-Warren-Boardman, OH-PA",O3,4th Max,3,0.087,0.094,0.100,0.088,0.077,...,0.075,0.082,0.067,0.067,0.068,0.065,0.063,0.068,0.065,0.063
1067,49700,"Yuba City, CA",NO2,Annual Mean,1,13.000,14.000,15.000,14.000,12.000,...,8.000,10.000,10.000,8.000,7.000,7.000,7.000,7.000,6.000,6.000